body {
  background-color: beige;
}
h1 {
  background-color: rgba(0, 74, 120, 0.6);
  border: 6px solid rgb(0, 80, 100, 0.8);
  margin: 25px 100px;
}

div.ex1 {
  display:inline-block;
  background-color: azure;
  border: 3px solid rgb(0, 162, 169, 0.8);
  border-radius: 12px;
  max-width: 600px;
  height: 600px;
  padding: 1%;
  margin: 7.5%;
}
div.ex2 {
  display:inline-block;
  background-color: azure;
  border: 3px solid rgb(0, 162, 169, 0.8);
  border-radius: 12px;
  max-width: 600px;
  height: 600px;
  padding: 1%;
  margin: 7.5%;
}
div.ex3 {
  display:inline-block;
  background-color: azure;
  border: 3px solid rgb(0, 162, 169, 0.8);
  border-radius: 12px;
  max-width: 600px;
  height: 600px;
  padding: 1%;
  margin: 7.5%;
}
div.ex4 {
  display:inline-block;
  background-color: azure;
  border: 3px solid rgb(0, 162, 169, 0.8);
  border-radius: 12px;
  max-width: 600px;
  height: 600px;
  padding: 1%;
  margin: 7.5%;
}
